{% extends 'base.html' %}
{% block title %}
    Halaman Register
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="form-group" novalidate>
            {% csrf_token %}
            <h3>Login Form</h3>
            <div>
                <label for="email">Email</label> <br>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="password">Password</label> <br>
                {{ form.password }}
            </div>
            <br>
            <input type="submit" class="btn btn-primary form-control" value="Register">
        </form>
    </div>
{% endblock %}