{% extends 'base.html' %}
{% block title %}
    Halaman Register
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="form-group" novalidate>
            {% csrf_token %}
            <h3>Register Form</h3>
            <div class="form-group">
                <label for="nama">Nama: </label> <br>
                {{ form.nama }}
            </div>
            <div>
                <label for="email">Email</label> <br>
                {{ form.email }}
            </div>
            <div>
                <label for="email">Nomor Telpon</label> <br>
                {{ form.no_telpon }}
            </div>
            <div class="form-group">
                <label for="alamat">Alamat</label> <br>
                {{ form.alamat }}
            </div>
            <div class="form-group">
                <label for="password">Password</label> <br>
                {{ form.password }}
            </div>
            <div class="form-group">
                  <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                  {{ form.role_id }}
            </div>
            <br>
            <input type="submit" class="btn btn-primary form-control" value="Register">
        </form>
    </div>
{% endblock %}